body{
    margin: 0;
    padding: 0;
}
/*header 영역*/
header{
    display: grid;
    height: 70px;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;
}
header div span{
    color: #0e7159;
    font-weight: bold;
    font-size: 25px;
}
header div span a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}
header div button{
    background-color: #0e7159;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    align-items: center;
    margin-left: 30px;
}
/*메인 이미지*/

main img {
    width: 100%;
    height: 768px;
}
.myhome {
    position: absolute;
    top : 70px;
    width: 100%;
    height: 768px;
    background-color: #000000;
    mix-blend-mode: normal;
    opacity: 0.8;
  
}
.myhome span{
    position: absolute;
    height: 144px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -2.24473px;
    color: #FFFFFF;
}
.myhome span a{
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    font-size: 24px;
    width: 250px;
    height: 30px;
    color: #FFFFFF;
   
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
/*메인 영역안 각 section 영역*/
article{
    margin: 0 auto;
    width: 70%;
    text-align: center;
    margin-top: 30px;
}
article span{
    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-size: 50px;
    line-height: 58px;
    color: #0e7159;
    text-align: left;
}

article span span{
    font-weight: bold;
}

.first_section {
    display: flex;
    margin: 25px 0;
    gap: 80px;
    justify-content: center;
    
}
.first_section section{
    display: grid;
    grid-template-rows: 2fr 0.5fr 0.5fr;

}
.first_section section img {
    width : 100%; 
    height : 235px;
}
.first_section p{
    text-align: left;
    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.785656px;
    margin: 5px;
    color: #333D4B;
}
.first_section p:last-child{
    text-align: left;
    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.598595px;

    color: #6B7684;
}
h3{
    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.673419px;

    color: #0E7159;
}
.second_section_wrapper{
    display: flex;
    justify-content: center;
}

.second_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 50px;
}
.second_section p{
    text-align: left;

    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    letter-spacing: -0.785656px;

    color: #333D4B;
}
.second_section p:last-child{
    text-align: left;
    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: -0.598595px;

    color: #6B7684;
}

.third_section {
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
.third_section section img{
    width: 380px;
    height: 710px;
}
.third_section_text{
    text-align: left;
}

.third_section p{
    text-align: left;
    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    display: flex;
    align-items: center;
    letter-spacing: -1.79578px;
    color: #333D4B;
}
.third_section p:last-child{
    text-align: left;
    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    display: flex;
    align-items: center;
    letter-spacing: -0.897892px;
}

.third_section_other {
    display: grid;
    grid-template-columns: 1fr 1fr ;
}


.third_section_other section img{
    width: 380px;
    height: 710px;
}

.third_section_other p{
    text-align: left;
    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    
    letter-spacing: -1.79578px;
    color: #333D4B;
}
.third_section_other p:last-child{
    text-align: left;
    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;

    letter-spacing: -0.897892px;
}

.fourth_section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fourth_section section {
    margin: 15px;
    padding: 0 25px;
    background-color: #F2F3F4;
    border-radius: 16px;
    height: 400px;
}
.fourth_section p:first-child{
    text-align: left;
    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: -0.897892px;

    color: #333D4B;
}
.fourth_section p{
    text-align: left;
    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: -0.598595px;

    color: #6B7684;
}
.fourth_section button{
    background-color:#0E7159;
    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    letter-spacing: -0.598595px;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    width: 292px;
    height: 64px;
    position: relative;
}
h2{
    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center;
    letter-spacing: -1.19719px;
    color: #0E7159;
}

.review_section {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   gap: 25px;
}
.review_section section{
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    text-align: left;
    width: 680px;
    height: 350px;
    background: #F2F3F4;
    border-radius: 15px;
}
.user_info{
    display: flex;
    justify-content: left;
    
    margin: 15px 25px;
}

.user_info div{
    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    
    color: #6B7684;
}
.user_info .user_name{
    font-weight: 700;
    color: #333D4B;
}

.review_section img{
    width : 48px ;
    height : 48px;
}

.last_section{
    width: 100%;
    height: 610px;
    background-color: #0E7159;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.last_section div span{
    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -2.24473px;
    
    color: #FFFFFF
}
.last_section div button{
    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    letter-spacing: -0.598595px;

    width: 170px;
    height: 60px;
    border-radius: 8px;

    color: #0E7159;
}



/* footer 영역*/
footer{
    padding : 15px 400px;
    font-weight: bold;
    width: 100%;
    background-color:#F9FAFB;;
}

footer span:first-child{       
    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;     
    color: #333D4B;
}
footer span{
    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #6B7684;
}

/*1024px*/
@media (max-width: 1024px) {
    header div span a {
        display: none;
    }
    main div span a{
        display: none;
    }

    article span{
        font-family: 'Spoqa Han Sans Neo';
        font-style: normal;
        font-size: 30px;
        line-height: 58px;
        color: #0e7159;
        text-align: left;
    }

    .first_section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 25px auto;
    }

    .none_text_1024{
        display : none;
    }

    .second_section{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .third_section{
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .third_section_other{
        display: grid;
        grid-template-columns: 1fr;
    }


    .third_section p{
        text-align: center;
        font-family: 'Spoqa Han Sans Neo';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: -1.79578px;
        color: #333D4B;
    }
    .third_section p:last-child{
        text-align: center;
        font-family: 'Spoqa Han Sans Neo';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 40px;
        align-items: center;
        letter-spacing: -0.897892px;
    }

    .third_section_other p{
    text-align: center;
        font-family: 'Spoqa Han Sans Neo';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        align-items: center;
        justify-content: center;
        letter-spacing: -1.79578px;
        color: #333D4B;
    }
    .third_section_other p:last-child{
    text-align: center;
    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    align-items: center;
    letter-spacing: -0.897892px;
    }
    .third_section_text{
        text-align: center;
    }

    h3 {
        text-align: center;
    }
    .third_section section:first-child{
        order: 1;
    }
    .fourth_section{
     display: grid;
    grid-template-columns: 1fr 1fr;
    }
    footer{
        font-family: 'Spoqa Han Sans Neo';
        padding : 15px 168px;
        font-weight: bold;
        width: 100%;
        background-color:#F9FAFB;;
    }
}

/*768px*/
@media (max-width: 768px) {

    main img {
        width: 100%;
        height: 310px;
    }
    .myhome {
        position: absolute;
        top : 70px;
        width: 100%;
        height: 310px;
        background-color: #000000;
        mix-blend-mode: normal;
        opacity: 0.8;    
    }

    .myhome span{
        font-size: 30px;
        line-height: 43px;
    }
    article span{
        font-size: 23px;
    }
    
    .first_section p:last-child{
        font-size: 12px;
    }
   
    .second_section p{
        font-size: 20px;
    }
    .second_section p:last-child{
        font-size: 12px;
    }

    
    .review_section {
        width: 480px;
        height: 360px;
        margin: 0 auto;
    }
    .user_info div{
        font-size: 11px;
    }
    .last_section div span{
        font-size: 48px;
    }
    .last_section div button{
        font-size: 15px;
    }
}

/* 480 px*/
@media (max-width: 480px) {

    article span{
        font-size: 24px;
    }

    .first_section{
        display: grid;
        grid-template-columns: 1fr;
    }
    .second_section{
        display: grid;
        grid-template-columns: 1fr;
    }
    .third_section p {
        font-size: 36px;
    }
    .third_section_other p{
        font-size: 36px;
    }
    .third_section p:last-child{
        font-size: 18px;
    }
    .third_section_other p:last-child{
        font-size: 18px;
    }


    .fourth_section{
        display: grid;
        grid-template-columns: 1fr;
    }
    .none_text_480{
        display: none;
    }
    .review_section section{
        width: 360px;
        height: 360px;
    }

    .last_section div span{
        font-size: 32px;
    }
    footer{
        padding: 0;
        margin: 15px;
    }
    footer span:last-child{
        font-weight: 500;
        font-size: 14px;
        letter-spacing: -0.523771px;
        color: #6B7684;
    }
}